body{
	background-image: url("../../images/candySkin/bg8.jpg");
	/*background-color: #fef1b8;*/
}
.headBg{
	background-image: url("../../images/candySkin/heading.png");
}
.grid-container {
	top:0px;
}
h1.title{
	background-image: url("../../images/candySkin/2048.png");
	height: 40px;
	width: 140px;
	margin: 15px 0px;
	background-size: 140px 40px;
}
#score-container,#best-container{
	color: #887b5a;
	box-shadow: 4px 0px 3px #AFBBD2;
}
#score-container,#best-container,.buttonBox .item{
	background-image: url("../../images/score.png");
}
#score-container:after,#best-container:after{
	color: #894027;
	text-shadow:1px 1px #d3ad6a;   /*右下阴影*/
}
.tableBackground {
	background-image: url("../../images/candySkin/table.png");
	opacity: 1;
}
.buttonRestart,.buttonShare,.buttonShare a,.buttonSkin{
	color: #894027;
}
.buttonBox{
	margin-top: 15px;
}
.grid{
	text-shadow:3px 3px 3px #ac7a50;   /*右下阴影*/
}
.block0{
	background-image: url("../../images/candySkin/chocolate4.png");
}
.block1{
	background-image: url("../../images/candySkin/chocolate0.png");
}
.block2{
	background-image: url("../../images/candySkin/chocolate1.png");
}
.block3{
	background-image: url("../../images/candySkin/chocolate2.png");
}
.block4{
	background-image: url("../../images/candySkin/chocolate3.png");
}
@media screen and (max-width: 799px) and (min-width: 700px)
{
	h1.title{
		height: 30px;
		width: 70px;
		background-size: 70px 30px;
	}
	.grid-container {
		top:-30px;
	}
	.buttonBox{
		margin-top: -10px;
	}
}
@media screen and (max-width: 700px) {

	h1.title{
		height: 20px;
		width: 50px;
		margin: 5px 0px;
		background-size: 50px 20px;
	}
	.grid-container {
		top:-30px;
	}
	.buttonBox{
		margin-top: -20px;
	}
}