body{
	background-image: url("../../images/candySkin/bg.jpg");
}
.headBg{
	background-image: url("../../images/candySkin/all.png");
}
h1.title{
	background-image: url("../../images/candySkin/all.png");
	background-position: -400px -511px;
	margin: 15px 0px 0px 0px;
}
#score-container,#best-container{
	box-shadow: -3px -3px 6px 0px #eceae8 inset;
}
.buttonBox .item{
	box-shadow: -5px -5px 8px 0px #c3c1bf inset;
}
#score-container:after,#best-container:after{
	color: #894027;
	text-shadow:1px 1px #d3ad6a;   /*右下阴影*/
}
.tableBackground {
	background-image: url("../../images/candySkin/all.png");
	opacity: 1;
}
.grid{
	text-shadow:3px 3px 3px #ac7a50;   /*右下阴影*/
}
.grid-container {
	top:0px;
}
.buttonRestart,.buttonShare,.buttonShare a,.buttonSkin{
	color: #894027;
}
.buttonBox{
	margin-top: 15px;
}
.block0{
	background-image: url("../../images/candySkin/all.png");
	background-size: 790px 790px;
	background-position: -420px -690px;
}
.block1{
	background-image: url("../../images/candySkin/all.png");
	background-size: 790px 790px;
	background-position: 0 -690px;
}
.block2{
	background-image: url("../../images/candySkin/all.png");
	background-size: 790px 790px;
	background-position: -105px -690px;
}
.block3{
	background-image: url("../../images/candySkin/all.png");
	background-size: 790px 790px;
	background-position: -210px -690px;
}
.block4{
	background-image: url("../../images/candySkin/all.png");
	background-size: 790px 790px;
	background-position: -315px -690px;
}
@media screen and (max-width: 799px) and (min-width: 700px)
{
	h1.title{
		height: 28px;
		width: 85px;
		background-position: -265px -350px;
		background-size: 400px 400px;
		margin: 15px 0px 8px 0px;
	}
	.block0,.block1,.block2,.block3,.block4{
		background-size: 589px 589px;
	}
	.block0{
		background-position: -313px -514px;
	}
	.block1{
		background-position: 0 -514px;
	}
	.block2{
		background-position: -77px -514px;
	}
	.block3{
		background-position: -157px -514px;
	}
	.block4{
		background-position: -235px -514px;
	}
	.grid-container {
		top:-30px;
	}
	.buttonBox{
		margin-top: -10px;
	}
}
@media screen and (max-width: 700px) {

	h1.title{
		height: 29px;
		width: 55px;
		background-position: -433px -480px;
		background-size: 260px 260px;
		margin: 0px;
	}
	.block0,.block1,.block2,.block3,.block4{
		background-size: 384px 384px;
	}
	.block0{
		background-position: -204px -334px;
	}
	.block1{
		background-position: 0 -334px;
	}
	.block2{
		background-position: -50px -334px;
	}
	.block3{
		background-position: -103px -334px;
	}
	.block4{
		background-position: -155px -334px;
	}
	.grid-container {
		top:-30px;
	}
	.buttonBox{
		margin-top: -20px;
	}
}