body{
	background-image: url("../../images/iceSkin/bg2.jpg");
}
.headBg{
	background-image: url("../../images/iceSkin/heading.png");
	opacity: 0.7;
}
h1.title{
	background-image: url("../../images/iceSkin/2048.png");
	height: 90px;
	width: 180px;
	background-size: 175px 80px;
}
#score-container,#best-container,.buttonBox .item{
	background-image: url("../../images/score.png");
}
.tableBackground {
	background-image: url("../../images/iceSkin/table.png");
	opacity: 0.5;
}
.grid{
	text-shadow:3px 3px #0000ac;   /*右下阴影*/
}
.grid-container {
	top:-30px;
}
.buttonBox{
	margin-top: -10px;
}
.block0{
	background-image: url("../../images/iceSkin/iceBlock4.png");
}
.block1{
	background-image: url("../../images/iceSkin/iceBlock0.png");
}
.block2{
	background-image: url("../../images/iceSkin/iceBlock1.png");
}
.block3{
	background-image: url("../../images/iceSkin/iceBlock2.png");
}
.block4{
	background-image: url("../../images/iceSkin/iceBlock3.png");
}
@media screen and (max-width: 799px) and (min-width: 700px)
{
	h1.title{
		height: 60px;
		width: 105px;
		background-size: 110px 55px;
	}
}
@media screen and (max-width: 700px) {
	h1.title{
		height: 30px;
		width: 70px;
		background-size: 70px 30px;
	}
	.buttonBox{
		margin-top: -20px;
	}
}